* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", system-ui, sans-serif;
    background: #2C6E49;
    color: #FFC9B9;
    /* min-height: 100vh; */
}

.camera {
  border: 15px solid #FFC9B9;
  background-color: #FFC9B9;
  border-radius: 30px;
  overflow: hidden;
  display: block;
  /* width: 140%;
  height: 140%; */
  position: relative;
  width: 100vh; /* or your video width */
  height: 75vh; /* or your video height */
}

video {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

canvas {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.camera-wrapper{
    position:relative;
    display:inline-block;
    max-width:90vw;
    z-index:10;
}


.timer-setup {
  position: absolute;
  top: 23%;
  right: 5%;
  width: 20%;
  height: fit-content;
  border-radius: 15px;
  border: 10px solid #FFC9B9;
  padding: 1rem;
  background-color: #FEFEE3;
  color: #4d3f36;
}


.setup-button {
  position: absolute;
  bottom: 6%;
  right: 6.5%;
}

.timer-h2 {
  font-size: 200%;
  color: #4d3f36;
}

.sp-title {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
}

p.dark {
    color: #4d3f36;
}

.sp-input {
  position : absolute;
  top: 23%;
  left: 4%;
  width: 65%;
  min-height: 71vh;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  padding: 1rem;
  border: 0.6rem solid #FFC9B9;
  border-radius: 15px;
  resize: none;
  box-sizing: border-box;
}

.sp-text {
  position: absolute;
  bottom: 76%;
  left: 5%;
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

.btn {
  background-color: #FFC9B9;
  font-family: "Lucida Console", "Courier New", monospace;
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 5% 7%;
  margin: 5%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  border: none;
}

.btn-timer {
  position: relative;
  right: 3%;
  align-items: center;
  border: none;
}

.btn-large {
  font-size: 3vw;
  border: none;
}

.btn-small {
  font-size: 3vw;
  border: none;
}

.btn-result{
  position: fixed;
  font-family: "Lucida Console", "Courier New", monospace;
  bottom: clamp(16px, 4vh, 32px);
  left: 50%;
  transform: translateX(-70%);

  background-color: #FFC9B9;
  color: #4d3f36;

  width: auto;
  height: auto;
  
  font-weight: bold;
  font-size: clamp(2rem, 2.5vw, 3.4rem);
  padding: clamp(5px, 2vw, 10px) clamp(10px, 4vw, 22px);

  margin: 5%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  border: none;
}

.btn:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
  transition: transform 0.5s ease-in-out;
}

.audience {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 100%;
    z-index: 10;
    pointer-events: none;
}

.results {
  position: relative;
  margin: auto;
  padding: 10px;
  font-size: 150%;
  text-align: left;
}

.star-container {
    display: flex;
  gap: 4px; /* Optional: space between stars */
  align-items: center; /* vertically center if needed */
}

.background {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;   
}

#home{
    text-align: left;
    left:30%;
    display:flex;
    align-items: center;
    overflow: hidden;
}

#start{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    z-index:10;
}

#home-button{
    position: static;
    bottom: 20%;
    z-index: 10;
}

#yaptrainerhome{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 0;
    height:90%;
}

#name{
    font-size:10vw;
    font-family: "Nunito", system-ui, sans-serif;
    z-index: 10;
    margin-bottom: 2rem;
}

#timer-button{
    position: absolute;
    left: 41.5%;
    bottom: -40%;
    transform: translateX(-50%);
    z-index:20;
    display:flex;
    justify-content: center;
    white-space: nowrap;
    padding:2em;
}

.resultsContainer {
    background-color: #FEFEE3;
    border-radius:40px;
    z-index: -2;
    padding: 10px;
    margin: 5px;
}

.resultsPage{
  position: relative;
  z-index: 1; 
}

.time-score {
  font-size: 150%;
  margin-bottom: 1rem;
}

#yaptrainerpos { 
  position: absolute; 
  z-index: 10;
  bottom: -7%; 
  right: -10%; 
  width: clamp(70%, 80%, 100%); 

  height: auto; 
  transform: translate(15%, 15%);
  z-index: -1;
  pointer-events: none; }

.speech{
    font-size:25px;
}

@keyframes glideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.glide-up {
  animation: glideUp 1s ease forwards;
}
