

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #2C6E49;
  color: #FEFEE3;
}

#camera {
  border: 15px solid #FFC9B9;
  background-color: #FFC9B9;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  left: center;
}

div#home {
  font-size: 90px;
}

div#timer-setup {
  position: absolute;
  top: 220px;
  right: 85px;
  border-radius: 15px;
  border: 10px solid #FFC9B9;
  padding: 10px
}

div#setup-button {
  position: absolute;
  bottom: 145px;
  right: 30px;
}

h1#setup {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
}

h2#setup-text {
  font-size: 40px;
  position: absolute;
  top: 120px;   
  left: 60px;
}

h2 {
  font-size: 35px;
}

textarea {
  position: absolute;
  top: 220px;
  left: 50px;
  width: 1000px;    
  height: 600px;    
  resize: none;  
  border: 10px solid #FFC9B9;
  border-radius: 15px; 
}

button {
  background-color: #FFC9B9;
  color: #2C6E49;
  font-weight: bold;
  padding: 10px 30px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

button#small {
  font-size: 25px;
  border: none;
} 

button#large {
  font-size: 50px;
  position: relative;
  top: 100px; 
  border: none;
} 

button:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
  transition: transform 0.5s ease-in-out;
}

.audience {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: 640px;
  z-index: 10;
  pointer-events: none;
}

#timer-buttons{
    position:relative;
    top:0;
}

.resultsPage{
  position: relative;
  z-index: 1; 
}

#yaptrainerpos { 
  position: fixed; 
  bottom: 0px; 
  right: 0px; 
  width: clamp(900px, 16vw, 900px); 

  height: auto; 
  transform: translate(15%, 15%);
  z-index: -1;
  pointer-events: none; }