

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #90BEDE;
  color: #DFFDFF;
}

#camera {
  border: 15px solid #DFFDFF;
  background-color: #DFFDFF;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  left: center;
}

div#home {
  font-size: 50px;
  margin-bottom: 40px;
}

button#home {
  background-color: #DFFDFF;
  color: #90BEDE;
  font-size: 50px;
  position: relative;
  top: 100px; 
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
} 
