* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #2C6E49;
    color: #FFC9B9;
}

.camera {
  border: 15px solid #FFC9B9;
  background-color: #FFC9B9;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  left: center;
}

.home {
  font-size: 90px;
}

.timer-setup {
  position: absolute;
  top: 25%;
  right: 85px;
  border-radius: 15px;
  border: 10px solid #FFC9B9;
  padding: 10px
}

.setup-button {
  position: absolute;
  top: 67%;
  right: 3%;
}

h2 {
  font-size: 180%;
}

.sp {
  position: absolute;  
  min-height: 70vh;
  margin: 0 auto;             
  padding-top: 2.5rem;         
}

.sp-input {
  width: 50%;
  min-height: 68vh;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  padding: 1rem;
  border: 0.6rem solid #FFC9B9;
  border-radius: 15px;
  resize: none;
  box-sizing: border-box;
}

.sp-text {
  position: relative;
  top: -10%;
  left: 20%;
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

.btn {
  background-color: #FFC9B9;
  color: #2C6E49;
  font-weight: bold;
  padding: 10px 30px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  border: none;
}

.btn-large {
  font-size: 3rem;
  position: relative;
  top: 100px; 
  border: none;
}

.btn-small {
  font-size: 1.5rem;
  position: relative;
  border: none;
}

.btn:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
  transition: transform 0.5s ease-in-out;
}

.audience {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 640px;
    z-index: 10;
    pointer-events: none;
}

#timer-buttons {
    position: relative;
    top: 0;
}

#background {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
}

#home{
    text-align: left;
}

#home-buttons{
    position: fixed;
    left: 30%;
    bottom: 30%;
    transform: translateX(-50%);
    z-index: 10;
}